.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .checkoutProduct__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
  }
  
  .checkoutProduct__info > button {
    align-self: flex-start;
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 10px;
  }
  
  .checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  .checkoutProduct__rating {
    display: flex;
  }
  
  .checkoutProduct__title {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}
.checkoutProduct__price{
      text-align: left;
}
  